

html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}


body {
    height: 100%;
    width: 100%
    margin: 0;
    padding: 0;
    position: relative;
    background-color: black
}

.content {
    top: 0;
    bottom: 0;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    adjust-content: center;
    align-items: center;
}


