:root {
    --background-col: black;
    --text-col: white;
    --text-col-sec: rgba(255, 255, 255, 0.8);
    --line-col: rgba(255, 255, 255, 0.5);
    --font-fam: 'Roboto Mono', monospace;
    --line-height: 33px;

    --font-size-lg: 25px;
    --font-size-md: 21px;
    --font-size-sm: 19px;

    --h1-font-size: 50px;
    --h1-font-weight: 900;
    --h1-align: center;

    --h2-font-size: 27px;
    --h3-font-size: 22px;
}

* {
    margin-top: 25px;
}

div.container.zwg {
    background-color: var(--background-col);
    color: var(--text-col);
    padding: 10px;
    font-family: var(--font-fam);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    width: 850px;
}

h1.zwg {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    text-align: var(--h1-align);
}

.meta-info.zwg {
    color: var(--text-col-sec);
    font-style: italic;
    font-size: var(--font-size-sm);
    display: block;
    text-align: center;
}

.resume.zwg {
    font-size: var(--font-size-md);
    font-style: italic;
    color: var(--text-col-sec);
}

p.zwg {
    color: var(--text-col-sec);
    font-weight: normal;
    text-align: left;
    font-style: normal;

    font-size: var(--font-size-md);
    letter-spacing: -0.003em;
    line-height: var(line-height);
    word-break: break-word;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.b {
    font-weight: 900;
    opacity: unset !important;
}

.i {
    font-style: italic;
}

.c {
    display: block;
    text-align: center;
}

.q1 {
    display: block;
    font-size: var(--font-size-lg);
    font-style: italic;;
    padding-right: 10%;
    padding-left: 10%;
    opacity: unset;
    margin-top: 20px;
    margin-bottom: 20px;
}

.q2 {
    display: block;
    width: 100%;
    font-size: var(--font-size-lg);
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
    border-left: 2px solid white;
    padding-left: 15px;
    opacity:initial;
}

.u {
    text-decoration: underline;
}

.z {
    text-decoration: line-through;
}
